

section {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2,
section h3 {
  color: #004080;
}


.content {
  /* margin-top: 100px; */
}

.nav-button-wrapper {
  width: 120px;
}
