
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 63px;
}

.header .logo img {
  height: 63px;
}

.header .title {
  font-size: 16px;
  color: #4b4b4b;
}


.header .menu-btn {
  font-size: 18px;
  cursor: pointer;
  background: none;
  background-color: #616161;
  /* border: none; */
  color: #333;
  /* margin-right: 30px; */
  height: 50px;
  width: 100px;
  border: #333;
}

section {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2,
section h3 {
  color: #004080;
}


.content {
  /* margin-top: 100px; */
}

.custom-btn {
    display: inline-block;
    font-family: 'Univers LT Std', 'Source Sans Pro';
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 0px solid black;
    /* transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out; */
    width: 100%;
    height: 63px;
}

.dark {
    color: white;
    background-color: black;
}

.nav-button-wrapper {
  width: 120px;
}

.button-label {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: .15em;
  margin-left: .5em;
}


.page-header{
  background-color: #0e0e0e;
  text-align: center;
  margin-top: 63.5px;
  padding: 30px 0px;
  margin-bottom: 20px;
}

.page-header-title{
  color:#fff
}

.scrollspy-example {
  position: relative;
  height: 350px;
  overflow: auto;
}

