.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 63px;
}

.header .logo img {
  height: 63px;
}

.header .title {
  font-size: 16px;
  color: #4b4b4b;
}


.header .menu-btn {
  font-size: 18px;
  cursor: pointer;
  background: none;
  background-color: #616161;
  /* border: none; */
  color: #333;
  /* margin-right: 30px; */
  height: 50px;
  width: 100px;
  border: #333;
}

section {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2,
section h3 {
  color: #004080;
}



.nav-button-wrapper {
  width: 120px;
}

.social-icons a {
  margin: 10px;
}

.scrollspy-example {
  position: relative;
  height: 350px;
  overflow: auto;
}

.row>* {
  max-width: 100%;
  padding-right: 1px;
  padding-left: 1px;
  margin-top: 1px
}


.card-title {
  font-size: 1.5rem;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 10px;
    left: 20px;;
    color: white;
    
}

.card-title:after{
      border-top: 3px solid #e82011;
        content: "";
        display: block;
        margin-top: .2857142857em;
        padding-top: .2857142857em;
        transition: border-color .35s cubic-bezier(.86, 0, .07, 1);
        width: 2.5714285714em;
}
.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.card:hover .card-img-overlay{
  background-color: rgba(120, 120, 120, 0.101);
}

.modal{
  background: #333333d2;
}

.img-styled {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-styled {
  padding: 10px 50px;
  font-size: 1.1rem;
  line-height: 1.5;
}

.row .inner-row{
  margin-top: 40px;
  padding: 20px;
}

.container-icon {
   display: flex;
   justify-content: center;
   align-items: center;
 }
.icon{
  margin-bottom: 10px;
  font-size: 30px;
}


footer.footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer {
  background-color: var(--bs-body-color);
  color: #fff;
  padding: 20px 0;
  margin-top: 30px;
}

.tab-content-margin{
  margin-top: 30px;
  height: 150vh;
}


/* .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #0c2340
} */